<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>yawgbot | web interface</title>
  </head>
  <body class="bg-gray-100 w-11/12 py-2 sm:w-3/4 mx-auto">
    <div class="border overflow-x-auto relative shadow-md rounded">
      <table
        class="w-full text-xs lg:text-sm text-left text-gray-800 table-auto"
      >
        <thead class="border-b text-gray-700 uppercase bg-gray-50">
          <tr>
            {% for col in listings[0].__table__.columns%}
            <th scope="col" class="px-2 py-1">{{col}}</th>
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {% for listing in listings %}
          <tr class="even:bg-gray-100 bg-white border-b hover:bg-gray-50">
            <td scope="row" class="px-2 font-bold">{{listing.id}}</td>
            <td scope="row" class="px-2">{{listing.wg_id}}</td>
            <td scope="row" class="px-2 whitespace-nowrap">{{listing.added_at}}</td>
            <td scope="row" class="px-2">{{listing.price}}</td>
            <td scope="row" class="px-2">{{listing.name}}</td>
            <td scope="row" class="text-blue-500 px-2"><a href="{{listing.url}}">url</a></td>
            <td scope="row" class="px-2 whitespace-nowrap">{{listing.location}}</td>
            <td scope="row" class="px-2">{{listing.square_meters}}</td>
            <td scope="row" class="px-2 whitespace-nowrap">{{listing.dates}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>
